%% -*- mode: erlang; -*-
%% vim: set ft=erlang:

{minimum_otp_vsn, "26.2"}.
%% we can set this to true, we force/override specific versions while the deps need another
%% version. Even multiple deps have dependency on different version of a package.
%% But this also produces a lot of warnings, we can override the deps, but this is
%% cumbersome to maintain.
{deps_error_on_conflict, false}.
{validate_app_modules, true}.
{compiler_source_format, relative}.

{project_app_dirs, ["applications/*"
                   ,"core/*"
                    %% ,"deps/*" if we depend on make deps
                   ]}.

{shell, [{config, "rel/sys.config"}
         %% ,{name, kazoo_apps} %% use 'rebar3 shell --name kazoo_apps' instead
        ,{apps, [reloader]}
        ]}.

{relx, [{release, {kazoo_dev, {git, short}}
        %% rebar.config.script will add all core and apps,
        %% add any extra apps/deps you want to be included in this release:
        ,[{eunit, load}
         ,{common_test, load}
         ,{reloader, load}
         %% these will fail if opengl driver for WX is missing
         %% ,{wx, none}
         %% ,{observer, load}
         ]
        ,[{mode, dev}
         ,{include_src, false}
         ,{include_erts, false}
         ,{check_for_undefined_functions, true}
         ,{src_tests, false}
         %% Creates _build/default/rel/kazoo_dev/bin/kazoo_dev for working with release
         %% You can use _build/default/rel/kazoo_dev/bin/official_kazoo if you want our own old script
         ,{generate_start_script, true}
         ,{extended_start_script, true}
         ,{sys_config_src, "rel/rebar.dev.sys.config.src"}
         ,{vm_args_src, "rel/rebar.dev.vm.args.src"}
         ,{overlay, [{copy, "core/sup/priv/sup", "{{output_dir}}/bin/"}
                    %% Upstream script (bin/kazoo_dev) won't need nodetool anymore and it uses erl_call.
                    %% Our custom script still uses that though, we may need to update it to use official_nodetool,
                    %% at least in case of release built by rebar.
                    ,{copy, "rel/nodetool", "{{output_dir}}/bin/official_nodetool"}
                    %% Mainly for your special usecase or if you perfer our own custom script, otherwise use bin/kazoo_dev.
                    %% Be careful, if you need RELX_REPLACE_OS_VARS=true you have to export it in your shell before using
                    %% this script. Upstream script won't need this env var in OTP-21+ and Rebar3 3.6+
                    ,{template, "rel/kazoo", "{{output_dir}}/bin/official_kazoo"}
                    ,{chmod, 8#00755, "{{output_dir}}/bin/official_kazoo"}
                    ]
          }
         ]
        }
       ]}.

{erl_opts, [debug_info
           ,warnings_as_errors
           ,warn_export_all
           ,warn_missing_spec
           ,warn_unused_import
           ,warn_unused_vars
            %%  do not define lager_extra_sinks in top-level,
            %%  if you do, rebar override all apps that define extra sink
           ,{parse_transform, lager_transform}
           ]}.

{profiles, [{test, [{erl_opts, [nowarn_missing_spec
                               ,{d, 'PROPER'}
                               ,{d, 'TEST'}
                               ]}
                   ,{plugins, [rebar3_proper]}
                   ]}
           ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_opts, [verbose]}.

{proper_opts, [{to_file, user}
              ,{cover, true}
              ]}.

{plugins, [pc %% to compile c_src
          ,rebar3_run %% to run the first relx release in console mode
          ,rebar3_auto %% to open a rebar shell with auto compile/reload files
          ,rebar3_autotest %% to run tests with auto compile/reload
           %% ,rebar3_hex
           %% ,rebar_mix
          ]
}.

{overrides, [{override, hamcrest, [{plugins, []}]} %% https://github.com/erlang/rebar3/issues/1425
            ,{override, couchbeam, [{erl_opts, [{d, 'WITH_JIFFY'}]}]}
             %% overriding git:// url in deps. If url schema is git, rebar will try
             %% to be useful and uses port 9418 instead of normal 443 port
            ,{override, folsom, [{deps, [{bear, {git, "https://github.com/boundary/bear.git", {tag, "0.8.2"}}}
                                        ,{meck, {git, "https://github.com/eproxus/meck", {tag, "0.8.13"}}}
                                        ]
                                 }
                                ]
             }
            ,{override, jesse, [{deps, [{jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.9.0"}}}
                                       ,{rfc3339, {git, "https://github.com/andreineculau/rfc3339.git", {tag, "0.2.1-r15-compat"}}}
                                       ]
                                }
                               ]
             }
            ,{del, [{erl_opts, [warnings_as_errors
                               ,warn_export_all
                               ,warn_missing_spec
                               ,warn_unused_import
                               ,warn_unused_vars
                               ]
                    }
                   ]
             }
            ]
}.

%% PLEASE: Keep this in sync with make/deps.mk
{deps, [erlydtl
       ,poolboy

       ,{amqp_client, "3.12.13"}

        %% branch: otp-26
       ,{amqp_dist, {git, "https://github.com/2600hz/erlang-amqp_dist.git", {ref, "581d4b53"}}}

        %% branch: 2600Hz-otp-26
       ,{esaml, {git, "https://github.com/2600hz/erlang-esaml.git", {ref, "9fe06697234113eb1a64a009a6a1167ba72c9c04"}}}

        %% branch: 2600hz-otp26
       ,{couchbeam, {git, "https://github.com/2600hz/erlang-couchbeam", {ref, "b48830cd95aa61f86c7f6479f4425e80985802da"}}}

        %% branch: fix-intermittent-chunked-response-hang (until PR merged)
       ,{hackney, {git, "https://github.com/2600hz/erlang-hackney", {ref, "1a13c8f8148e1e94ac633e905fc62bca78a483bf"}}}

        %% branch: 2600Hz-2.12.0
       ,{cowboy, {git, "https://github.com/2600hz/erlang-cowboy", {ref, "50c21ad"}}}

        %% used by kz_tracers
        %% branch: 2600Hz-otp-26
       ,{eflame, {git, "https://github.com/2600hz/erlang-eflame", {ref, "4faa5a7064b31903f71a90d6ad79c66fa63d591d"}}}

        %% used by gen_smtp
       ,{eiconv, {git, "https://github.com/zotonic/eiconv", {tag, "1.0.0"}}}

        %% used to store tabulator events
        %% branch: devel
        %% ref: 7ba52768cf0ea7d084df24d4275a88eef4db13c2
        %% tag: 4.7.1
       ,{epgsql, {git, "https://github.com/epgsql/epgsql", {tag, "4.7.1"}}}

        %% used by kazoo_attachments
        %% branch: 2600hz-otp-26
       ,{erlazure, {git, "https://github.com/2600hz/erlang-erlazure.git", {ref, "0b5a53e2d5e18f3dbe05a891596b607e7ca3989b"}}}

        %% used by kazoo_attachments and a crossbar test (cb_storage_tests)
        %% branch: 2600Hz-otp-26
       ,{erlcloud, {git, "https://github.com/2600hz/erlang-erlcloud", {ref, "9fd232d08063a691ed4294ce3b8e4b99bf84fdda"}}}

        %% used by properly, webhooks
        %% branch: 2600Hz-otp-26
       ,{ersip, {git, "https://github.com/2600hz/erlang-ersip", {ref, "5125e187807eff8dd507baa7fa6113e374d08ccb"}}}

        %% used by teletype, notify, and fax
        %% branch: 2600Hz-otp-26-fixed
       ,{gen_smtp, {git, "https://github.com/2600hz/erlang-gen_smtp", {ref, "aa45101978aabb38af9156e18ba37b9dc2fa3d83"}}}

        %% used in some scripts/ and sup
       ,{getopt, {git, "https://github.com/2600hz/erlang-getopt", {tag, "v1.0.1"}}}

        %% used by kazoo_events, webseq, konami, acdc, ecallmgr, callflow
        %% branch: master
       ,{gproc, {git, "https://github.com/2600hz/erlang-gproc", {ref, "9f71a37fce4d58480a742b44458e4937c77f55c5"}}}

        %% used by kz_network_utils
       ,{inet_cidr, {git, "https://github.com/2600hz/erlang-inet_cidr.git", {tag, "1.0.2"}}}

        %% used by kazoo_schemas primarily
        %% branch: otp-26 + external format validator
       ,{jesse, {git, "https://github.com/2600hz/jesse", {ref, "35eabb483c3541ca0ad631b7bc5e333655303205"}}}

        %% used by kz_json, nklib, jesse, lager, maybe couchbeam if compiled
        %% branch: 2600hz
       ,{jiffy, {git, "https://github.com/2600hz/erlang-jiffy", {ref, "c3b68f0dba2851bc7b2c79abe802ed9bab57c887"}}}

        %% used everywhere
        %% branch: otp26
       ,{lager, {git, "https://github.com/2600hz/erlang-lager", {ref, "6159a9497be54ac94fe00d9b9940b1bb7e423021"}}}

       ,{lager_syslog, {git, "https://github.com/2600hz/erlang-lager_syslog", {tag, "3.0.3"}}}

        %% used in tests for kazoo_voicemail, crossbar, teletype, and other deps
        %% branch: 2600Hz-otp-26
       ,{meck, {git, "https://github.com/2600hz/erlang-meck", {tag, "0.8.13"}}}

        %% used by kzsip_uri and cb_registrations
       ,{nklib, {git, "https://github.com/2600hz/erlang-nklib", {tag, "v0.4.1"}}}

        %% appears unused
        %% ,{parse_trans, {git, "https://github.com/lazedo/parse_trans"}}

        %% used by a handful of core apps
        %% branch: 2600Hz-otp-26
       ,{plists, {git, "https://github.com/2600hz/erlang-plists", {ref, "909aec1ffc2dfd651b880af8138346daff1cc407"}}}

        %% used by kazoo_proper, knm, kazoo_caches, kazoo_bindings, kz_util_tests, kazoo_token_buckets, kazoo_stdlib
        %% used by apps hotornot and callflow
        %% branch: master
       ,{proper, {git, "https://github.com/2600hz/erlang-proper", {ref, "a5ae5669f01143b0828fc21667d4f5e344aa760b"}}}

       ,{recon, {git, "https://github.com/2600hz/erlang-recon", {tag, "2.5.5"}}}

       ,{ra, {git, "https://github.com/2600hz/erlang-ra.git", {tag, "v1.1.2"}}}

       ,{ranch, {git, "https://github.com/2600hz/erlang-ranch", {tag, "1.8.0"}}}

        %% Development-related for reloading beam files
        %% see rel/dev.vm.args and fixture_shell in make/kz.mk
        %% commit adds makefile for compile/clean
        %% branch: master
       ,{reloader, {git, "https://github.com/2600hz/erlang-reloader", {ref, "de1e6c742"}}}

       ,{syslog, {git, "https://github.com/2600hz/erlang-syslog", {ref, "bbad537a1"}}}

        %% ,{wsock, {git, "https://github.com/madtrick/wsock", {tag, "1.1.7"}}}
        %% appears unused

        %% used by kazoo_ast to create OpenAPI 3
       ,{yamerl, {git, "https://github.com/2600hz/erlang-yamerl", {tag, "v0.7.0"}}}

        %% INI file parser
        %% used by kazoo_config_init
       ,{zucchini, {git, "https://github.com/2600hz/erlang-zucchini", {tag, "0.1.0"}}}

        %% used by hotornot
       ,{trie, {git, "https://github.com/2600hz/erlang-trie", {tag, "v1.7.5"}}}

       ,{cowlib, {git, "https://github.com/2600hz/erlang-cowlib", {tag, "2.13.0"}}}

       ,{gun, {git, "https://github.com/2600hz/erlang-gun", {tag, "2600hz-2.0.0-pre.3"}}}

       ,{apns, {git, "https://github.com/2600hz/erlang-apns4erl.git", {tag, "2600hz-2.4.1"}}}

        %% used by hangups
        %% branch: 2600Hz-otp-26
       ,{folsom, {git, "https://github.com/2600hz/erlang-folsom", {ref, "1f3f610d1498d4ae2625178daaac5fc4f5306969"}}}

        %% Firebase cloud messaging
        %% used by pusher
        %% branch: 2600Hz
       ,{fcm, {git, "https://github.com/2600hz/erlang-fcm.git", {ref, "3e979c765c24b19dc475d954bb20f7ffb2e019b3"}}}

        %% Homer encapsulation protocol
        %% branch: master
       ,{hep, {git, "https://github.com/2600hz/hep-erlang", {ref, "5f18e91e4"}}}

        %% runtime code generation
       ,{meta, {git, "https://github.com/2600hz/erlang-meta", {tag, "0.1.3"}}}

        %% Detect OTP versions available given the codebase
       ,{geas, {git, "https://github.com/crownedgrouse/geas", {tag, "2.7.14"}}}

        %% used for WSDL->record and WSDL RPC calls
        %% branch: 2600Hz
       ,{soap, {git, "https://github.com/2600hz/erlang-soap", {ref, "dbdca669b4b0ef5d4ee25e60a36db9f6b2a4599e"}}}

        %% XML lib
        %% branch: 2600Hz
       ,{erlsom, {git, "https://github.com/2600hz/erlang-erlsom", {ref, "fb5f88a7635341520e3251b5354479ceee5fa8b1"}}}

        %% Used by kazoo_auth
        %% branch: 2600Hz-otp-26
       ,{qrcode, {git, "https://github.com/2600hz/erlang-qrcode", {ref, "cbb74b45d513dddae34e40740d399d04c1946ba0"}}}

        %% branch: master
       ,{qdate, {git, "https://github.com/2600hz/erlang-qdate", {ref, "2072b49220dc0cfad59f1163119e1e76e55240a1"}}}

        %% branch: master
       ,{qdate_localtime, {git, "https://github.com/2600hz/erlang-qdate_localtime", {ref, "cee705be45df8bcdcc7f77d371d4b34ef52d369b"}}}

        %% branch: 2600Hz
       ,{elvis, {git, "https://github.com/2600hz/erlang-elvis", {ref, "26ef5f27b4c2bca711e0623caf1d2c3127e5e4b8"}}}

        %% used by properly
       ,{certifi, {git, "https://github.com/certifi/erlang-certifi", {tag, "2.5.2"}}}
       ]
}.

{xref_warnings,false}.
{xref_checks,[undefined_function_calls
             ,undefined_functions
              %% ,locals_not_used %% Compilation discovers this
              %% ,exports_not_used %% Compilation discovers this
             ,deprecated_function_calls %% Concerns not kazoo
             ,deprecated_functions %% Concerns not kazoo
             ]}.

{xref_ignores, [
                %% ~.~.~.~.~.~.~.~.~.~.~.~.~
                %% Kazoo stuff first

                %% =============================
                %%  deprecated_functions
                %% =============================

                %% called by:
                %% asr_request:maybe_transcribe/1
                %% kapps_util:add_aggregate_device/2
                %% fax_maintenance:migrate_private_media/3
                %% fax_maintenance:recover_private_media/3
                %% media_mgr_maintenance:import_prompt/3
                {kz_datamgr,ensure_saved,2}
                %% kazoo_yodb:save_fun/1
               ,{kz_datamgr,ensure_saved,3}

                %% ~.~.~.~.~.~.~.~.~.~.~.~.~

                %% =============================
                %% UNDEFINED FUNCTIONS (due to old deprecated and removed funs)
                %% these are mostly deprecated functions, some of them are just for compatibility with older OTP
                %% a few are calls to optional dependencies
                %% =============================
               ,{cover,compile_beam,2} %% called by meck_cover:compile_beam_wrapper/1
               ,{cover,compile_beams,1} %% called by meck_cover:alter_cover/0
               ,{cover,get_term,1} %% called by meck_cover:get_terms/2
               ,{cover,write,2} %% called by meck_cover:write_term/1
                %% called by:
                %% nklib_log_gelf:message/3
                %% nklib_util:get_hwaddr/0
                %% nklib_util:uuid_4122/0
               ,{crypto,rand_bytes,1}
               ,{crypto,sha_mac,2} %% called by couchbeam_util:hmac/3
               ,{erlang,delete,1} %% called by eflame2:exp1/2
               ,{exometer,delete,1} %% called by metrics_exometer:delete/1
               ,{exometer,ensure,3} %% called by metrics_exometer:new/2
               ,{exometer,update_or_create,4} %% called by metrics_exometer:notify/3

                %% called by gproc_dist:handle_leader_cast/3
                %% called by gproc_dist:initiate_sync/3
               ,{gen_leader,alive,1}
                %% called by gproc_dist:handle_leader_cast/3
                %% called by gproc_dist:initiate_sync/3
                %% called by gproc_dist:send_sync_complete/3
               ,{gen_leader,broadcast,3}

               ,{gen_leader,leader_call,2} %% called by gproc_dist:leader_call/1
               ,{gen_leader,leader_cast,2} %% called by gproc_dist:from_leader/3
               ,{gen_leader,leader_cast,2} %% called by gproc_dist:leader_cast/1
               ,{gen_leader,leader_node,1} %% called by gproc_dist:handle_call/4
               ,{gen_leader,start_link,6} %% called by gproc_dist:start_link/1
               ,{gettext_compile,write_header,0} %% called by po_generator:generate_file/3

                %% called by po_generator:write_entries/1
                %% called by po_generator:write_fuzzy_entries/1
               ,{gettext_compile,write_pretty,2}

               ,{hamcrest,assert_that,2} %% called by meck_matcher:match_ignore/2
               ,{hamcrest,is_matcher,1} %% called by meck_matcher:is_hamcrest_matcher/1
               ,{lager_default_tracer,info,1} %% called by lager:status/0
               ,{oauth,header_params_encode,1} %% called by couchbeam_util:oauth_header/3
               ,{oauth,sign,6} %% called by couchbeam_util:oauth_header/3
               ,{pcouchbeam_httpc,db_url,1} %% called by couchbeam_view:show/4

                %% called by rabbit_env:context_to_app_env_vars/1
                %% called by rabbit_env:log_context/1
                %% called by rabbit_env:log_process_env/0
                %% called by rabbit_env:post_port_cmd_output/3

               ,{rabbit_log_prelaunch,debug,1}

                %% called by rabbit_env:context_to_app_env_vars/1
                %% called by rabbit_env:do_load_conf_env_file/3
                %% called by rabbit_env:load_conf_env_file/1
                %% called by rabbit_env:log_context/1
                %% called by rabbit_env:log_process_env/0
                %% called by rabbit_env:parse_conf_env_file_output1/2
                %% called by rabbit_env:post_port_cmd_output/3
               ,{rabbit_log_prelaunch,debug,2}

                %% called by rabbit_env:amqp_tcp_port/1
                %% called by rabbit_env:erlang_dist_tcp_port/1
               ,{rabbit_log_prelaunch,error,2}

               ,{rabbit_log_prelaunch,warning,2} %% called by rabbit_env:parse_conf_env_file_output2/2
               ,{ssl,seed,1} %% called by hackney_pool:init/1

                %% =============================
                %% DEPRECATING (in OTP 24+)
                %% =============================

                %% called by:
                %% couchbeam_util:hmac/3
                %% epgsql_scram:hmac/2
                %% erlazure:sign_string/2
                %% smtp_util:compute_cram_digest/2
               ,{crypto,hmac,3}

               ,{crypto,rand_uniform,2} %% called by nklib_util:randomize/1
               ,{gen_fsm,enter_loop,4} %% called by nklib_proc:do_start/6
               ,{gen_fsm,enter_loop,5} %% called by nklib_proc:do_start/6

                %% called by:
                %% jesse_json_path:parse_json_pointer_token/1
                %% lhttpc_lib:split_credentials/1
                %% nklib_headers:update_uri/3
               ,{http_uri,decode,1}

                %% called by:
                %% esaml_binding:encode_http_redirect/4
                %% esaml_binding:redirect_username_part/1
               ,{http_uri,encode,1}

               ,{http_uri,parse,1} %% called by jesse_state:combine_id/2
               ,{pg2,create,1} %% called by mirrored_supervisor:handle_call/3

                %% called by:
                %% mirrored_supervisor:fold/3
                %% mirrored_supervisor:handle_call/3
                %% mirrored_supervisor:handle_info/2
                %% mirrored_supervisor:tell_all_peers_to_die/2
               ,{pg2,get_members,1}

               ,{pg2,join,2} %% called by mirrored_supervisor:handle_call/3
               ,{random,seed,3} %% called by erlydtl_filters:seed/3

                %% called by:
                %% erlydtl_filters:uniform/1
                %% hackney_util:uniform/1
               ,{random,uniform,1}

                %% called by:
                %% folsom_sample_exdec:update/3
                %% folsom_sample_slide_uniform:update/2
                %% folsom_sample_uniform:update/2
               ,{random,uniform_s,2}
               ,{sources_parser,parse,1} %% called by i18n_manager:generate_pos/1
               ,{ssl,cipher_suites,0} %% called by hackney_ssl:ciphers/0
               ,{ssl,ssl_accept,3} %% called by ranch_ssl:handshake/3
               ,{sys,get_debug,3} %% called by gen_server2:format_status/2


                %% =============================
                %% need OTP >= 24
                %% =============================

               ,{os,env,0} %% called by rabbit_env:env_vars/0
               ]
}.

{dialyzer, [
            %% not perfect solution, this completely remove lager from type check
            %% what we really want is to silence unmatched_returns for lager function calls
            {exclude_mods, [lager]}
           ,{warnings, [error_handling %% functions that only return via exception
                        %% ,no_behaviours  %% suppress warnings about behaviour callbacks
                        %% ,no_contracts   %% suppress warnings about invalid contracts
                        %% ,no_fail_call   %% suppress warnings for failing calls
                        %% ,no_fun_app     %% suppress warnings for failing fun applications
                        %% ,no_improper_lists %% suppress warnings for improper list construction
                        %% ,no_match          %% suppress warnings for patterns that are unused
                        %% ,'no_missing_calls'  %% suppress warnings about calls to missing functions
                        %% ,no_opaque         %% suppress warnings for violating opaque data structures
                        %% ,no_return         %% suppress warnings for functions that never return a value
                        %% ,no_undefined_callbacks %% suppress warnings about behaviours with no -callback
                        %% ,no_unused         %% suppress warnings for unused functions
                        %% ,'race_conditions'   %% include warnings for possible race conditions
                       ,'underspecs'        %% warn when the spec is too loose
                        %% ,'unknown'           %% let warnings about unknown functions/types change exit status
                       ,'unmatched_returns' %% warn when function calls ignore structure return values
                        %% ,overspecs %% ignorable, mostly for Dialyzer devs
                        %% ,specdiffs
                       ]
            }
           ]
}.
